.main-content {
    min-height: 90vh;

    .perfil-link {
        color: #ff9c08;
    }

    .perfil-link:hover {
        color: #c97800;
    }

    .btn-offcanvas-home {
        background-color: #ff9c08;
    }

    .btn-offcanvas-home:hover {
        background-color: #c97800;
    }
}